<div class="header">
  <div class="container">
    <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1m.svg">
    <h1>Messenger</h1>
  </div>
</div>

<div class="create">
  <div class="container">
    
    <!-- Your code here -->
   <%= form_for(@subsubcategory) do |f| %>  
      <div class="field"> 
        <%= f.label :subsubcategory %><br> 
        <%= f.text_area :title %>
        <%= f.text_area :subcategory_id %>
      </div> 
      <div class="actions"> 
        <%= f.submit "Create" %> 
      </div> 
    <% end %> 
    
  </div>
</div>