<div class="header">
  <div class="container">
    <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1tm.svg" width="80">
    <h1>BokenjiKan</h1>
  </div>
</div>

<div class="tags">
  <div class="container">
    <div class="cards row">
    	
      <div class="card col-xs-4">
        <h2>Add a procedure</h2>

        <%= @procedure.content %>
<!--         <%= form_for(@procedure) do |f| %>
        <%= f.text_area :content %>
        <% end %> -->


        <br><br>
        <%= form_for(@note) do |f| %>
        <%= f.submit "Add to Doc", :class => "btn" %>
        <%= f.text_field :last_name, :placeholder => "Last Name" %>
        <%= f.text_field :first_name, :placeholder => "First Name" %>
        <%= f.text_area :technique, :placeholder => "Put your notes here here" %>

        <% end %>
        <br><br>
        <%= link_to "Back", subsubcategory_path(:id => @procedure.subsubcategory_id) %><br><br>
        <br><br>
      <%= link_to "Back to Home Page", main_path() %>

      </div>
     
    </div>
  </div>
</div>