<div class="header">
  <div class="container">
    <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1tm.svg" width="80">
    <h1>BokenjiKan</h1>
  </div>
</div>

<div class="tags">
  <div class="container">
    <div class="cards row">
    	<% @categories.each do |t| %>
      <div class="card col-xs-4">
        <h2><%= t.title %></h2>
        <%= link_to "Learn more", category_path(t) %>
        <% if current_user && current_user.admin? %> 
          <%= link_to "Edit", edit_category_path(t) %>
          <%= link_to "Delete", delete_category_path(t), method: "delete", data: { confirm: "You sure?" } %>
        <% end %>
      </div>
      <% end %>
      <br>
      <% if current_user && current_user.admin? %> 
      <%= link_to 'Add New Category', "categories/new" %>
      <% end %>

      <br><br>
      <%= form_for(@note) do |f| %>

      <%= f.text_field :last_name, :placeholder => "Last Name" %>
      <%= f.text_field :first_name, :placeholder => "First Name" %>
      <%= f.text_area :technique, :placeholder => "Put your notes here here", :class => "main_doc" %>
      <%= f.submit "Update", :class => "btn" %>

      <%= button_to 'Write Write', '#', :onclick => 'sum_fn()' %>
      <%= javascript_tag do %>
          function sum_fn() {
              /* Assuming you have jQuery */
              $.post('/ajax/sum.json', {
                   num1: 100,
                   num2: 50
              }, function(data) {
                   var output = data.result;
                   /* output should be 150 if successful */
              });
          }
      <% end %>

    <% end %> 
    </div>
  </div>
</div>