<div class="header">
  <div class="container">
    <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1tm.svg" width="80">
    <h1>BokenjiKan</h1>
  </div>
</div>

<div class="tags">
  <div class="container">

    <div class="cards row">
    	
      <div class="card col-xs-4">

        <h2><%= @category.title %></h2>


        <% @subcategories.each do |sc| %>
        <p><%= sc.title %></p>
              <%= link_to "See More", subcategory_path(sc) %><br>
              <%= link_to "Back", main_path() %>
              <br>
        <%= link_to 'Add New Subcategory', newsubcategory_path(), :id=> @thisid %>
        <% end %>
        
      </div>
      


    </div>
  </div>
</div>